* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --text-back: #EABDA8;
    --back1: #493843;

}
/*
.color_palette_1 {
    color: #ffa9e7;
    color: #FF84E8;
    color: #7F2CCB;
    color: #414361;
    color: #2A2D43;
}
*/

/*
.color_palette_2 {
    color: #493843;
    color: #61988E;
    color: #A0B2A6;
    color: #CBBFBB;
    color: #EABDA8;
}
*/

header {
    background-color: var(--back1);
    border: solid #493843;

}

h1 {
    background-color: var(--text-back);
    float: left;
    color: #493843;
    padding-left: 5px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--back1);
    height: 90px;
}

.navbar li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    float: right;
    color: var(--text-back);
    padding: 8px;
    padding-right: 5px;
    margin-top: 28px;
    color: var(--text-back);
}

.navbar a {
    color: var(--text-back);
    font-size: 20px;
}

body {
    background-color: #A0B2A6;
}

h2 {
    text-align: right;
    padding-right: 5px;
    border-bottom: solid black;
    width: 360px;
}

.sectionTitle {
    display: flex;
    flex-direction: column;
    width: 360px;
    float: left;
    justify-content: right;
    box-sizing: border-box;
}

#aboutMeText {
    padding-top: 40px;
}

#aboutMeText p {

}

#work {
    display: flex;
    flex-wrap: wrap;
    float: right;
    position: relative;
}

#bigPicture {
    width: 70%;
    float: right;
    border: 5px solid var(--back1);
    margin: 0 10px 5px 400px ;
    position: relative;
}

.smallPicture {
    display: flex;
    justify-content: flex-end;
    float: right;
    border: 5px solid var(--back1);
    width: 30%;
    margin: 5px 5px 0 5px;
    flex: 50%;
    aspect-ratio: 3 / 1.9;
    width: 30%;
    position: relative;
}

.sub1 {
    position: relative;
    bottom: 25px;
    left:0px;
}

.sub2 {
    position: relative;
    bottom: 15px;
    left:0px;
}

/*
.lead {
    margin-left: 400px;
}
*/

#contacts div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 400px;
}

#contacts p {
    padding-left: 5px;
}

#contacts a {
    padding-left: 5px;
}

footer {
    background-color: var(--back1);
    color: var(--text-back);
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
}

/* image properties */
#banner {
    width: 100%;
}

#headshot {
    width: 300px;
    padding: 0px 0px 0px 40px;
    box-shadow: 5px 10px 10px grey ;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

}
